
<div ngbDropdown [placement]="placement">
  <button class="btn btn-outline-dark" id="{{domId}}" 
    ngbDropdownToggle i18n>{{label}}</button>                                
  <div ngbDropdownMenu class="scrollable-menu">
    <button class="dropdown-item" *ngFor="let entry of menuEntries"
      [disabled]="entry.disabled"
      (click)="performAction(entry)" tabindex="0">
      <ng-container *ngIf="entry.isGroup">
        <span class="font-weight-bold font-italic">{{entry.label}}</span>
      </ng-container>
      <ng-container *ngIf="entry.isSeparator">
        <div class="dropdown-divider"></div>
      </ng-container>
      <ng-container *ngIf="!entry.isGroup && !entry.isSeparator">
        <!-- grouped entries are left paddded for group indentation -->        
        <span [ngClass]="{'ml-2': entry.group}">{{entry.label}}</span>
      </ng-container>
    </button>
  </div>                                                                   
</div>  
