<div *ngIf="summary" class="w-100 boder">
  <ngb-accordion #acc="ngbAccordion" 
    (panelChange)="panelChange($event)" activeIds="first-panel" [closeOthers]="true">

    <ngb-panel id="first-panel" i18n-title title="Synopsis / Notes" >
      <ng-template ngbPanelContent>
        <div *ngIf="summary.synopsis || summary.general_note">
          <div *ngIf="summary.synopsis">{{summary.synopsis}}</div>
          <hr class="mt-2 mb-2" *ngIf="summary.synopsis && summary.general_note"/>
          <div *ngIf="summary.general_note" class="mt-2">
            {{summary.general_note}}
          </div>
        </div>
        <div *ngIf="!summary.synopsis && !summary.general_note">
          <div i18n>No Content to Display</div>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel i18n-title title="Subjects" *ngIf="summary.display.subject">
      <ng-template ngbPanelContent>
        <div class="row">
          <div class="col-lg-12">
            <ul>
              <li *ngFor="let subject of bibSubjects()">
                <a routerLink="/staff/catalog/search"                          
                  [queryParams]="{fieldClass: 'subject', query: subject}">
                  {{subject}}
                </a>    
              </li>
            </ul>
          </div>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel i18n-title title="Summaries & More">
      <ng-template ngbPanelContent>
        <iframe width="100%" height="500" frameborder="0" [src]="summaryUrl">
        </iframe>
      </ng-template>
    </ngb-panel>

    <ngb-panel id="similar-items" i18n-title title="Similar Items">
      <ng-template ngbPanelContent>
        <div id='novelist-loading' i18n>Loading...</div>
        <div [attr.data-novelist-novelistselect]="isbn || upc"></div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>


