<ng-template #dialogContent>
  <div class="modal-header">
    <h4 class="modal-title"><span i18n>Item Request</span></h4>
    <button type="button" class="btn-close btn-close-white" 
      i18n-aria-label aria-label="Close" (click)="close(false)"> </button>
  </div>
  <div class="modal-body form-validated" *ngIf="request">
    <div class="row">
      <div class="col-3" i18n>Patron</div>
      <div class="col-9">
        {{request.usr().family_name()}}, {{request.usr().first_given_name()}}
        (<a *ngIf="request.usr().card()" target="_blank"
            routerLink="/staff/circ/patron/{{request.usr().id()}}/checkout"
            >{{request.usr().card().barcode()}}</a>)
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-3" i18n>Claimed By</div>
      <div class="col-9" *ngIf="request.claimed_by() && request.claim_date() !== 'now'">
        {{request.claimed_by().usrname()}} @ {{request.claim_date() | date:'shortDate'}}
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-3" i18n>Title</div>
      <div class="col-9">
        <input class="form-control" type="text"
          (ngModelChange)="request.title($event)" [ngModel]="request.title()"/>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-3" i18n>Author</div>
      <div class="col-9">
        <input class="form-control" type="text"
          (ngModelChange)="request.author($event)" [ngModel]="request.author()"/>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-3" i18n>ISBN/UPC/Etc.</div>
      <div class="col-9">
        <input class="form-control" type="text"
          (ngModelChange)="request.identifier($event)" [ngModel]="request.identifier()"/>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-3" i18n>Publication Year</div>
      <div class="col-2">
        <input class="form-control" type="number" min="1900"
          (ngModelChange)="request.pubdate($event)" [ngModel]="request.pubdate()"/>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-3" i18n>Publisher</div>
      <div class="col-9">
        <input class="form-control" type="text"
          (ngModelChange)="request.publisher($event)" [ngModel]="request.publisher()"/>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-3" i18n>Language</div>
        <div class="col-4">
        <eg-combobox 
          allowFreeText="true" i18n-placeholder placeholder="Language..."
          [startId]="request.language() || ''"
          (onChange)="request.language($event ? $event.id || $event.label : null)"
          [entries]="languageEntries">
        </eg-combobox>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-3" i18n>Route To</div>
      <div class="col-4">
        <eg-combobox 
          [startId]="request.route_to()"
          (onChange)="request.route_to($event ? $event.id : null)"
          i18n-placeholder placeholder="Route To...">
          <eg-combobox-entry entryId="acq" entryLabel="Acquisitions" 
            i18n-entryLabel></eg-combobox-entry>
          <eg-combobox-entry entryId="ill" entryLabel="ILL"
            i18n-entryLabel></eg-combobox-entry>
        </eg-combobox>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-3" i18n>Vendor</div>
      <div class="col-4">
        <input class="form-control" type="text"
          (ngModelChange)="request.vendor($event)" [ngModel]="request.vendor()"/>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-3" i18n>Price</div>
      <div class="col-4">
        <input class="form-control" type="number" step="0.1" min="0.00"
          (ngModelChange)="request.price($event)" [ngModel]="request.price()"/>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-3" i18n>ILL#</div>
      <div class="col-4">
        <input class="form-control" type="text"
          (ngModelChange)="request.illno($event)" [ngModel]="request.illno()"/>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="close(false)" i18n>Cancel</button>
    <button type="button" class="btn btn-success ms-2" (click)="save()" i18n>Save</button>
    <button type="button" class="btn btn-primary ms-2" (click)="save(true)" i18n>Save &amp; Claim</button>
  </div>
</ng-template>
