<ng-template #dialogContent>
  <div class="modal-header">
    <h4 class="modal-title"><span i18n>Item Request</span></h4>
    <button type="button" class="btn-close btn-close-white" 
      i18n-aria-label aria-label="Close" (click)="close(false)"> </button>
  </div>
  <div class="modal-body form-validated" *ngIf="request">
    <div class="row">
      <div class="col-3" i18n>Patron</div>
      <div class="col-9">
        {{request.usr().family_name()}}, {{request.usr().first_given_name()}}
        (<a *ngIf="request.usr().card()" target="_blank"
            routerLink="/staff/circ/patron/{{request.usr().id()}}/checkout">
            {{request.usr().card().barcode()}}</a>)
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-3" i18n>Title</div>
      <div class="col-9">
        <input class="form-control" type="text"
          (ngModelChange)="request.title($event)" [ngModel]="request.title()"/>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-3" i18n>Author</div>
      <div class="col-9">
        <input class="form-control" type="text"
          (ngModelChange)="request.author($event)" [ngModel]="request.author()"/>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-3" i18n>Publication Year</div>
      <div class="col-2">
        <input class="form-control" type="number" min="1900"
          (ngModelChange)="request.pubdate($event)" [ngModel]="request.pubdate()"/>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-3" i18n>Publisher</div>
      <div class="col-9">
        <input class="form-control" type="text"
          (ngModelChange)="request.publisher($event)" [ngModel]="request.publisher()"/>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-3" i18n>Language</div>
        <div class="col-4">
        <eg-combobox 
          allowFreeText="true" i18n-placeholder placeholder="Language..."
          [startId]="request.language()"
          (onChange)="request.language($event ? $event.id || $event.label : null)"
          [entries]="languageEntries">
        </eg-combobox>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-3" i18n>Route To</div>
      <div class="col-4">
        <eg-combobox (onChange)="setRouteTo($event)"
          i18n-placeholder placeholder="Route To...">
          <eg-combobox-entry entryId="acq" entryLabel="Acquisitions" 
            i18n-entryLabel></eg-combobox-entry>
          <eg-combobox-entry entryId="ill" entryLabel="ILL"
            i18n-entryLabel></eg-combobox-entry>
        </eg-combobox>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" 
      (click)="close(false)" i18n>Cancel</button>
    <button (click)="save()" class="btn btn-success me-2" i18n>Save</button>
  </div>
</ng-template>
