<!-- hold grid with jump-off points to detail page and other actions -->

<!-- our on-demand dialogs-->
<eg-progress-dialog #progressDialog></eg-progress-dialog>
<eg-hold-transfer-dialog #transferDialog></eg-hold-transfer-dialog>
<eg-mark-damaged-dialog #markDamagedDialog [handleCheckin]="true"></eg-mark-damaged-dialog>
<eg-mark-missing-dialog #markMissingDialog></eg-mark-missing-dialog>
<eg-mark-discard-dialog #markDiscardDialog></eg-mark-discard-dialog>
<eg-hold-retarget-dialog #retargetDialog></eg-hold-retarget-dialog>
<eg-hold-cancel-dialog #cancelDialog></eg-hold-cancel-dialog>
<eg-hold-manage-dialog #manageDialog></eg-hold-manage-dialog>
<eg-confirm-dialog #uncancelDialog
  i18n-dialogTitle i18n-dialogBody
  i18n-dialogTitle="Un-Cancel Holds"
  dialogBody="Un-Cancel {{uncancelHoldCount}} hold(s)?">
</eg-confirm-dialog>
<eg-alert-dialog #uncancelFail
  i18n-dialogTitle dialogTitle="Hold Un-Cancel Failed">
</eg-alert-dialog>


<eg-string #postClearShelf i18n-text text="Reshelve"></eg-string>
<eg-string #postClearHold i18n-text text="Needed For Hold"></eg-string>
<eg-string #postClearTransit i18n-text text="Needs Transiting"></eg-string>
<eg-string #postClearPlChanged i18n-text text="Wrong Shelf"></eg-string>
<eg-string #uncancelSuccess i18n-text text="Hold Un-Cancel Succeeded"></eg-string>

<ng-template #statusTemplate let-hold="row">
  <ng-container [ngSwitch]="hold.hold_status">
    <div *ngSwitchCase="-1" i18n>Unknown Error</div>
    <div *ngSwitchCase="1" i18n>Waiting for Item</div>
    <div *ngSwitchCase="2" i18n>Waiting for Capture</div>
    <div *ngSwitchCase="3" i18n>In Transit</div>
    <div *ngSwitchCase="4" i18n>Ready for Pickup</div>
    <div *ngSwitchCase="5" i18n>Reserved/Pending</div>
    <div *ngSwitchCase="6" i18n>Canceled</div>
    <div *ngSwitchCase="7" i18n>Suspended</div>
    <div *ngSwitchCase="8" i18n>Wrong Shelf</div>
    <div *ngSwitchCase="9" i18n>Fulfilled</div>
  </ng-container>
</ng-template>

<div class='eg-holds w-100 mt-3'>

  <ng-container *ngIf="mode === 'detail'">
    <eg-hold-detail [wideHold]="detailHold" (onShowList)="mode='list'" 
      [showRecordSummary]="showRecordSummary"></eg-hold-detail>
  </ng-container>

  <ng-container *ngIf="mode === 'list' && initComplete()">

    <h3 *ngIf="!hideHoldsCount" i18n>Holds Count: {{holdsCount}}</h3>

    <div class="row mb-2" *ngIf="!hidePickupLibFilter">
      <div class="col-lg-5">
        <div class="input-group">
          <div class="input-group-text" i18n>Pickup Library</div>
          <eg-org-select [persistKey]="persistKey" [fallbackOrg]="pickupLib"
            (componentLoaded)="orgSelectLoaded = true" (onChange)="pickupLibChanged($event)">
          </eg-org-select>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="pullListOrg">
      <div class="col-lg-4 mb-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text" i18n>View Pull List For:</div>
          </div>
          <eg-org-select [initialOrgId]="pullListOrg"
            (componentLoaded)="orgSelectLoaded = true"
            (onChange)="pullListOrgChanged($event)">
          </eg-org-select>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="shelfOrg">
      <div class="col-lg-4 mb-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text" i18n>View Holds Shelf For:</div>
          </div>
          <eg-org-select [initialOrgId]="shelfOrg"
            (componentLoaded)="orgSelectLoaded = true"
            (onChange)="shelfOrgChanged($event)">
          </eg-org-select>
        </div>
      </div>
    </div>

    <eg-grid #holdsGrid [dataSource]="gridDataSource" [sortable]="true"
      [disablePaging]="disablePaging" [stickyHeader]="true"
      [useLocalSort]="enablePreFetch" [cellTextGenerator]="cellTextGenerator"
      [showFields]="showFields" [multiSortable]="true" [persistKey]="persistKey"
      (onRowActivate)="showDetail($event)" [pageSize]="pageSize">

      <eg-grid-toolbar-button
        i18n-label label="Details" (onClick)="showDetails()">
      </eg-grid-toolbar-button>

      <ng-container *ngIf="showPlaceHoldButton">
        <eg-grid-toolbar-button
          i18n-label label="Place Hold" (onClick)="placeHoldRequested.emit()">
        </eg-grid-toolbar-button>
      </ng-container>

      <ng-container *ngIf="shelfOrg">
        <!--
        <eg-grid-toolbar-button [disabled]="showClearable" 
          (onClick)="setClearableFilter(true)" i18n-label label="Show Clearable Holds">
        </eg-grid-toolbar-button>
        <eg-grid-toolbar-button [disabled]="!showClearable" 
          (onClick)="setClearableFilter(false)" i18n-label label="Show All Holds">
        </eg-grid-toolbar-button>
        -->
        <eg-grid-toolbar-button *ngIf="showClearable" 
          (onClick)="clearHolds()" i18n-label label="Clear Holds and Print">
        </eg-grid-toolbar-button>
      </ng-container>

      <eg-grid-toolbar-button *ngIf="printTemplate && !hidePrintOption"
        [disabled]="disablePrint"
        (onClick)="printHolds()" i18n-label label="Re-Print Full List">
      </eg-grid-toolbar-button>

      <ng-container *ngIf="preFetchSetting && !hopeless">
        <eg-grid-toolbar-checkbox (onChange)="preFetchHolds($event)"
          [initialValue]="enablePreFetch" i18n-label label="Pre-Fetch All Holds">
        </eg-grid-toolbar-checkbox>
      </ng-container>

      <ng-container *ngIf="showPlaceHoldButton">
        <eg-grid-toolbar-button
          i18n-label label="Place Hold" (onClick)="placeHoldRequested.emit()">
        </eg-grid-toolbar-button>
      </ng-container>

      <eg-grid-toolbar-action
        i18n-label label="Show Hold Details" i18n-group group="Hold"
        (onClick)="showDetails($event)"></eg-grid-toolbar-action>

      <eg-grid-toolbar-action
        i18n-label label="Modify Hold(s)" group="Hold" i18n-group
        (onClick)="showManageDialog($event)">
      </eg-grid-toolbar-action>

      <eg-grid-toolbar-action
        i18n-label label="Show Last Few Circulations" group="Item" i18n-group
        (onClick)="showRecentCircs($event)"></eg-grid-toolbar-action>

      <eg-grid-toolbar-action
        i18n-group group="Item" i18n-label label="Show Item Status (list)"
        (onClick)="openItemStatusList($event)"></eg-grid-toolbar-action>

      <eg-grid-toolbar-action
        i18n-group group="Item" i18n-label label="Show Item Status (detail)"
        (onClick)="openItemStatus($event)"></eg-grid-toolbar-action>

      <eg-grid-toolbar-action *ngIf="!patronFocused"
        i18n-label label="Retrieve Patron" group="Patron" i18n-group
        (onClick)="showPatron($event)">
      </eg-grid-toolbar-action>

      <eg-grid-toolbar-action
        i18n-group group="Hold" i18n-label label="Transfer To Marked Title"
        (onClick)="showTransferDialog($event)">
      </eg-grid-toolbar-action>

      <eg-grid-toolbar-action
        group="Item" i18n-group i18n-label label="Mark Item Damaged"
        (onClick)="showMarkDamagedDialog($event)"></eg-grid-toolbar-action>

      <eg-grid-toolbar-action
        i18n-group group="Item" i18n-label label="Mark Item Missing"
        (onClick)="showMarkMissingDialog($event)">
      </eg-grid-toolbar-action>

      <eg-grid-toolbar-action
        i18n-group group="Item" i18n-label label="Mark Item Discard/Weed"
        (onClick)="showMarkDiscardDialog($event)">
      </eg-grid-toolbar-action>

      <eg-grid-toolbar-action
        i18n-group group="Hold" i18n-label label="Find Another Target"
        (onClick)="showRetargetDialog($event)"></eg-grid-toolbar-action>

      <eg-grid-toolbar-action 
        i18-group group="Hold" i18n-label label="Set Top of Queue"
        (onClick)="setTopOfQueue($event)"></eg-grid-toolbar-action>

      <eg-grid-toolbar-action 
        i18-group group="Hold" i18n-label label="Activate Holds"
        (onClick)="activateHolds($event)"></eg-grid-toolbar-action>

      <eg-grid-toolbar-action 
        i18-group group="Hold" i18n-label label="Un-Set Top of Queue"
        (onClick)="setTopOfQueue($event, true)"></eg-grid-toolbar-action>

      <eg-grid-toolbar-action *ngIf="!showRecentlyCanceled"
        i18-group group="Hold" i18n-label label="Cancel Hold"
        (onClick)="showCancelDialog($event)"></eg-grid-toolbar-action>

      <eg-grid-toolbar-action *ngIf="showRecentlyCanceled"
        i18n-label label="Un-Cancel Hold(s)" group="Hold" i18n-group
        (onClick)="showUncancelDialog($event)">
      </eg-grid-toolbar-action>

      <eg-grid-toolbar-action *ngIf="!hidePrintOption"
        i18-group group="Hold" i18n-label label="Print Holds"
        (onClick)="printHolds()"></eg-grid-toolbar-action>

      <eg-grid-toolbar-action *ngIf="hopeless"
        i18-group group="Item" i18n-label label="View/Place Orders"
        [disableOnRows]="metaRecordHoldsSelected"
        (onClick)="showOrder($event)"></eg-grid-toolbar-action>

      <eg-grid-toolbar-action *ngIf="hopeless"
        i18-group group="Item" i18n-label label="Add Holdings"
        [disableOnRows]="metaRecordHoldsSelected"
        (onClick)="addVolume($event)"></eg-grid-toolbar-action>

      <eg-grid-toolbar-action *ngIf="hopeless"
        i18-group group="Item" i18n-label label="Show in Catalog"
        (onClick)="showTitle($event)"></eg-grid-toolbar-action>

      <eg-grid-toolbar-action
        i18n-label label="Show Holds For Title" i18n-group group="Show"
        (onClick)="showHoldsForTitle($event)"></eg-grid-toolbar-action>

      <eg-grid-column i18n-label label="Hold ID" path='id' [index]="true" 
        [hidden]="true" datatype="id"></eg-grid-column>

      <ng-template #holdActiveTemplate let-hold="row">
        <!-- storage API returns 1/0 bools -->
        <eg-bool [value]="hold.frozen == 0"></eg-bool>
      </ng-template>

      <eg-grid-column i18n-label label="Active?" name="frozen"
        [cellTemplate]="holdActiveTemplate"></eg-grid-column>

      <eg-grid-column i18n-label label="Request Date" path='request_time' 
        datatype="timestamp" [datePlusTime]="true"></eg-grid-column>

      <eg-grid-column i18n-label label="Call Number" path='bib_call_number'>
      </eg-grid-column>

      <eg-grid-column i18n-label label="Item Call Number" path='cn_label' [hidden]="true">
      </eg-grid-column>

      <ng-template #barcodeTmpl let-hold="row" let-col="col">
        <ng-template #noCopy i18n>No Copy</ng-template>
        <ng-container *ngIf="col.name == 'ti_barcode'">
          <ng-container *ngIf="hold.current_copy; else noCopy">
            <a target="_blank" routerLink="/staff/cat/item/{{hold.ti_id}}/summary">
              {{hold.ti_barcode}}
            </a>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="col.name == 'ri_barcode'">
          <a target="_blank" routerLink="/staff/cat/item/{{hold.ri_id}}/summary">
            {{hold.ri_barcode}}
          </a>
        </ng-container>
        <ng-container *ngIf="col.name == 'cp_barcode'">
          <ng-container *ngIf="hold.current_copy || isCopyHold(hold); else noCopy">
            <a target="_blank" routerLink="/staff/cat/item/{{hold.cp_id}}/summary">
              {{hold.cp_barcode}}
            </a>
          </ng-container>
        </ng-container>
      </ng-template>

      <eg-grid-column i18n-label label="Targeted Item" name="ti_barcode"
        [hidden]="true" path="ti_barcode" [cellTemplate]="barcodeTmpl">
      </eg-grid-column>
      <eg-grid-column i18n-label label="Requested Item" name='ri_barcode'
        [cellTemplate]="barcodeTmpl">
      </eg-grid-column>

      <ng-template #titleTmpl let-hold="row">
        <a class="no-href" routerLink="/staff/catalog/record/{{hold.record_id}}">
          {{hold.title}}
        </a>
      </ng-template>
      <eg-grid-column i18n-label label="Title" name='title'
        [cellTemplate]="titleTmpl"></eg-grid-column>

      <eg-grid-column i18n-label label="Pickup Library" path='pl_shortname'></eg-grid-column>

      <ng-template #postClearAction let-hold="row">
        {{getPostClearLabel(clearHoldsActions[hold.id])}}
      </ng-template>
      <ng-container *ngIf="shelfOrg">
        <eg-grid-column i18n-label label="Post-Clear" name="post_clear_action"
          [cellTemplate]="postClearAction">
        </eg-grid-column>
      </ng-container>

      <eg-grid-column i18n-label label="Queue Position" [hidden]="showRecentlyCanceled"
          path='relative_queue_position' datatype="int"></eg-grid-column>

      <eg-grid-column i18n-label label="Total Holds" name="total_holds_for_bib"
        [hidden]="showRecentlyCanceled">
      </eg-grid-column>

      <eg-grid-column i18n-label label="Hold Status" [cellTemplate]="statusTemplate" 
        [hidden]="showRecentlyCanceled" name="status_string">
      </eg-grid-column>

      <eg-grid-column i18n-label label="Shelf Expire Time" path='shelf_expire_time' 
        datatype="timestamp" [datePlusTime]="true"></eg-grid-column>

      <eg-grid-column i18n-label label="Available Date" path='shelf_time'
        datatype="timestamp" [datePlusTime]="true"></eg-grid-column>

      <eg-grid-column i18n-label label="Hold Type" path='hold_type'></eg-grid-column>

      <eg-grid-column i18n-label label="Item Location" path='acpl_name' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="CN Full label" path='cn_full_label' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Part label" path='p_label' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Author" path='author' [hidden]="true"></eg-grid-column>

      <eg-grid-column i18n-label label="Requested Item" name='ri_barcode'
        [hidden]="true" [cellTemplate]="barcodeTmpl">
      </eg-grid-column>

      <eg-grid-column i18n-label label="Requested Item" name='ri_barcode'
        [hidden]="true" [cellTemplate]="barcodeTmpl">
      </eg-grid-column>

      <eg-grid-column i18n-label label="Current Item" name='cp_barcode' [cellTemplate]="barcodeTmpl">
      </eg-grid-column>

      <eg-grid-column i18n-label label="Potential Items" path='potentials' 
        [hidden]="true" datatype="int">
      </eg-grid-column>

      <ng-template #userBarcodeTmpl let-hold="row">
        <a routerLink="/staff/circ/patron/{{hold.usr_id}}/checkout">
          {{hold.ucard_barcode}}
        </a>
      </ng-template>
      <eg-grid-column i18n-label label="Patron Barcode" path="ucard_barcode"
        [cellTemplate]="userBarcodeTmpl" [hidden]="true"></eg-grid-column>

      <eg-grid-column i18n-label label="Patron alias" path="usr_alias" 
        [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Capture Date" path='capture_time'
          [hidden]="true" datatype="timestamp" [datePlusTime]="true"></eg-grid-column>

      <eg-grid-column path='usr_id' i18n-label label="Patron ID" [hidden]="true"></eg-grid-column>
      <eg-grid-column path='usr_usrname' i18n-label label="Patron Username" [hidden]="true"></eg-grid-column>

      <eg-grid-column path='usr_first_given_name' i18n-label label="Patron First Name" [hidden]="true"></eg-grid-column>
      <eg-grid-column path='usr_family_name' i18n-label label="Patron Last Name" [hidden]="true"></eg-grid-column>
      <eg-grid-column path='usr_shelf_name' i18n-label label="Patron Hold Shelf Name" [hidden]="true"></eg-grid-column>
      <eg-grid-column path='rusr_id' i18n-label label="Requestor ID" [hidden]="true"></eg-grid-column>
      <eg-grid-column path='rusr_usrname' i18n-label label="Requestor Username" [hidden]="true"></eg-grid-column>

     <eg-grid-column i18n-label label="Item Status" path="cs_name" [hidden]="true"></eg-grid-column>

      <eg-grid-column path='ancp_label' i18n-label label="CN Prefix" [hidden]="true"></eg-grid-column>
      <eg-grid-column path='ancs_label' i18n-label label="CN Suffix" [hidden]="true"></eg-grid-column>

      <eg-grid-column i18n-label label="Fulfillment Date/Time" path='fulfillment_time' datatype="timestamp" [datePlusTime]="true" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Checkin Time" path='checkin_time' datatype="timestamp" [datePlusTime]="true" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Return Time" path='return_time' datatype="timestamp" [datePlusTime]="true" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Last Targeting Date/Time" path='prev_check_time' datatype="timestamp" [datePlusTime]="true" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Expire Time" path='expire_time' datatype="timestamp" [datePlusTime]="true" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Hold Cancel Date/Time" path='cancel_time' datatype="timestamp" [datePlusTime]="true" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Hold Target" path='target' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Targeted Item ID" path='ti_id' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Fulfilling Staff" path='fulfillment_staff' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Fulfilling Library" path='fulfillment_lib' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Requesting Library" path='rl_shortname' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Requesting User" path='requestor' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="User" path='usr' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Selection Library" path='sl_shortname' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Item Selection Depth" path='selection_depth' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Holdable Formats (for M-type hold)" path='holdable_formats' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Notifications Phone Number" path='phone_notify' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Notifications SMS Number" path='sms_notify' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Notify by Email?" path='email_notify' datatype="bool" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="SMS Carrier" path='sms_carrier' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Currently Frozen" path='frozen' datatype="bool" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Activation Date" path='thaw_date' datatype="timestamp" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Top of Queue" path='cut_in_line' datatype="bool" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Is Mint Condition" path='mint_condition' datatype="bool" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Current Shelf Library" path='current_shelf_lib' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Behind Desk" path='behind_desk' datatype="bool" [hidden]="true"></eg-grid-column>
      <!--
      <eg-grid-column i18n-label label="Hopeless Date" path='hopeless_date' datatype="timestamp" [datePlusTime]="true" [hidden]="true"></eg-grid-column>
      -->
      <eg-grid-column i18n-label label="Clearable" path='clear_me' datatype="bool" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Is Staff-placed Hold" path='is_staff_hold' datatype="bool" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Cancelation Cause ID" path='cc_id' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Cancelation Cause" path='cc_label' [hidden]="!showRecentlyCanceled"></eg-grid-column>
      <eg-grid-column i18n-label label="Cancelation note" path='cancel_note' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Pickup Library" path='pl_shortname'></eg-grid-column>
      <eg-grid-column i18n-label label="Pickup Library Name" path='pl_name' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Pickup Library Email" path='pl_email' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Pickup Library Phone" path='pl_phone' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Pickup Library Opac Visible" path='pl_opac_visible' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Transit ID" path='tr_id' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Transit Send Time" path='tr_source_send_time' datatype="timestamp" [datePlusTime]="true" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Transit Receive Time" path='tr_dest_recv_time' datatype="timestamp" [datePlusTime]="true" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Transit Item" path='tr_target_copy' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Transit Source" path='tl_shortname' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Transit Destination" path='tr_dest' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Transit Item Status" path='tr_copy_status' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Transit Hold" path='tr_hold' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Transit Cancel Time" path='tr_cancel_time' datatype="timestamp" [datePlusTime]="true" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Hold Note Count" path='note_count' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="User Display Name" path='usr_display_name' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Requestor Username" path='rusr_usrname' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Item ID" path='cp_id' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Item Number on Call Number" path='cp_copy_number' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Item Circulating Library" path='cl_shortname' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Fine Level" path='cp_fine_level' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Can Circulate" path='cp_circulate' datatype="bool" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Deposit Amount" path='cp_deposit_amount' datatype="bool" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Is Deposit Required" path='cp_deposit' datatype="bool" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Is Reference" path='cp_ref' datatype="bool" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Is Holdable" path='cp_holdable' datatype="bool" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Price" path='cp_price' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Item Circulating Library" path='cp_circ_lib_shortname' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Circulation Modifier" path='cp_circ_modifier' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Circulate as MARC Type" path='cp_circ_as_type' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Precat Dummy Title" path='cp_dummy_title' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Precat Dummy Author" path='cp_dummy_author' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Item Alert Message" path='cp_alert_message' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Item OPAC Visible" path='cp_opac_visible' datatype="bool" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Item Deleted" path='cp_deleted' datatype="bool" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Floating Group" path='cp_floating' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Precat Dummy ISBN" path='cp_dummy_isbn' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Item Status Change Time" path='cp_status_change_time' datatype="timestamp" [datePlusTime]="true" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Item Active Date" path='cp_active_date' datatype="timestamp" [datePlusTime]="true" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Item Is Mint Condition" path='cp_mint_condition' datatype="bool" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Cost" path='cp_cost' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Status Is Holdable" path='cs_holdable' datatype="bool" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Status Is OPAC Visible" path='cs_opac_visible' datatype="bool" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Status Is Item-Active" path='cs_copy_active' datatype="bool" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Status Is Deleted" path='cs_restrict_copy_delete' datatype="bool" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Status Is Available" path='cs_is_available' datatype="bool" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Issuance label" path='issuance_label' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Call Number ID" path='cn_id' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="CN label Class" path='cn_label_class' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="CN Sort Key" path='cn_label_sortkey' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Part ID" path='p_id' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Part" path='p_label' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Part Sort Key" path='p_label_sortkey' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Part Is Deleted" path='p_deleted' datatype="bool" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Record ID" path='record_id' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Item Location ID" path='acpl_id' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Item Location Holdable" path='acpl_holdable' datatype="bool" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Item Location Hold-Verify" path='acpl_hold_verify' datatype="bool" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Item Location OPAC Visible" path='acpl_opac_visible' datatype="bool" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Item Location Can Circulate" path='acpl_circulate' datatype="bool" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Item Location Prefix" path='acpl_label_prefix' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Item Location Suffix" path='acpl_label_suffix' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Item Location Checkin Alert" path='acpl_checkin_alert' datatype="bool" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Item Location Is Deleted" path='acpl_deleted' datatype="bool" [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Item Location URL" path='acpl_url' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Item Location Order" path='copy_location_order_position' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Default Estimated Wait Time" path='default_estimated_wait' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Minimum Estimated Wait Time" path='min_estimated_wait' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Total Wait Time" path='total_wait_time' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Notify Count" path='notification_count' [hidden]="true"></eg-grid-column>
      <eg-grid-column i18n-label label="Last Notify Time" path='last_notification_time' datatype="timestamp" [datePlusTime]="true" [hidden]="true"></eg-grid-column>

    </eg-grid>

  </ng-container>

</div>


